# Ignore node_modules directory
node_modules/

# Ignore build output
.nuxt/

# Ignore development server logs
.nuxtignore

# Ignore cache and temporary files
.cache/
.tmp/

# Ignore environment-specific files
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Ignore editor-specific files
.vscode/
.idea/

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock


**/.DS_Store