.talk {
    .wrapper {
      min-height: 800px; margin: 0 auto; max-width: 1200px; padding-top: 30px; position: relative; display: flex; justify-content: space-between;
      ul.talk-nav {
        padding:0; border: 1px solid #e8e8e8; width:190px;  padding-top: 15px;
        border-radius: 10px; height: 300px; position: sticky; top:30px; background-color: white; 
        li { display: block; padding: 10px; cursor: pointer; color:#8e8e8e}
        li.active { font-weight: 600; color:#2b2b2b;}
        li:hover { background-color: #e8e8e8; color:#2b2b2b;}
      }
      .talk-content-wrapper {
        width: 80%;
        div.talk-item.disable { display: none;}
        div.talk-item.notice { background-color: #eee; display: block !important;}
        div.talk-item {
          border: 1px solid #eee; border-radius: 10px; margin-bottom: 10px; padding: 25px; cursor: pointer;
          p {
            font-size: 15px; font-weight: 500; display: flex; align-items:center;
            a { 
              width:50px; height: 50px; border-radius: 100px; display: inline-block; background-color: #8e8e8e;
              background-position: center; background-size: cover; margin-right: 10px;
          }
            span { 
              b { padding-bottom: 0; font-size: 15px; color:#2b2b2b;}
              display: block; font-size: 13px; color: #8e8e8e;
            }
          }
          div.talk-content {
            max-height: 220px; overflow: hidden; display: -webkit-box;
          }
          span { font-size: 13px; color: #8e8e8e;}
          b { padding-bottom: 20px; display: block;}
          .talk-line {
            height:2px; width:100px; background-color:#eee; margin:20px 0 10px;
          }
          .talk-icons{
            text-align: left;
            a {
              margin: 2px 8px;  display: inline-block; text-align: left; min-width: 30px;
              i { font-size: 16px; top: -3px; position: relative;}
            }
          }
        }
      }
      .talk-content-wrapper.empty-data {
        div { text-align: center; font-size: 22px; padding: 50px; color:#ccc; }
      }
    }
  }
  
// -------------------------------------- mobile size --------------------------------------
  @media screen and (max-width: 840px) {
    .talk {
      .wrapper {
        padding-top: 0; display:block;
        // ul.talk-nav {
        //   width:100%;  padding-top: 0;
        //   border-radius: 10px; height: auto; position: relative; top:0; background-color: white;
        //   li { padding: 20px; font-size: 25px;}
        // }
        .talk-list {
          width: 95%; height: auto; border: 0; padding: 20px 2.5%; font-size: 30px; border: 3px solid #eee;
          margin: 0 auto; display: block; position: sticky; border-radius: 5px; color:#888; top:0;
          border-radius:0; -webkit-appearance:none; -moz-appearance:none; appearance:none; background-color: white;
        }
        .talk-content-wrapper {
          width: 95%; margin: 0 2.5%;
          div.talk-item {
            margin: 50px 0; border: 3px solid #eee; padding-bottom: 50px;
            p {
              margin-bottom: 30px;
              a {width: 80px; height: 80px;}
              span { font-size: 22px; b{font-size: 23px;}}
            }
            b { font-size: 20px; color:#888;}
            span { font-size: 25px; }

            div.talk-content { 
              font-size: 29px; max-height: 310px; margin-bottom: 20px;
            }
            .talk-icons {
              a {
                margin: 10px 30px 0 0px; font-size: 29px;
                i { font-size: 29px; margin-right: 5px;}
              }
            }
          }
        }
        
      }
    }
  }